<h2 class="text-center">Add Expenses </h2>
<form (ngSubmit)="onSubmit()" #expenseentryForm="ngForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title" required="">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <input type="text" class="form-control" id="desc" name="desc" [(ngModel)]="desc" required="">
    </div>
    <button type="submit" [disabled]="expenseentryForm.invalid" class="btn btn-primary">Submit</button>
  </form>